{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet"  href="{% static 'css/style.css'%}"/>
    <link rel="stylesheet"  href="{% static 'css/graphs.css'%}"/>
    <link rel="stylesheet"  href="{% static 'css/binarySearch.css'%}"/>
    <link rel="stylesheet"  href="{% static 'css/dynamicProg.css'%}"/>
    <link rel="stylesheet"  href="{% static 'css/trees.css'%}"/>
    <link rel="stylesheet"  href="{% static 'css/numberTheory.css'%}"/>
    <link rel="stylesheet"  href="{% static 'css/a.css'%}"/>
    <link rel="stylesheet"  href="{% static 'css/c.css'%}"/>
    <!-- <link rel="stylesheet"  title="strange" href="strange.css"/> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>


<div class="main__cont">
         
    <div class="first">
        <a href="{% url 'graphs' %}" class="el g__el">
            <div class="invisible__block">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
                <div class="line l1"></div>
                <div class="line l2"></div>
                <div class="line l3"></div>
            </div>
            <div class="header g__header">
                Графы
            </div>

            <div class="invisible__block">
                <p class="g__text">В олимпиадном программировании графы применяются повсеместно. От самых простых задач на обход в ширину до сложных комбинаций из раличных алгоритмов.</p>
            </div>
            
            <div class="invisible__block">
                <div class="g__for__logos">
                    <img src="{% static 'pics/graph_icon.png'%}">
                    <img src="{% static 'pics/connection.png'%}">
                    <img src="{% static 'pics/flow-chart.png'%}">
                </div>
            </div>
        </a>

        <div class="el d__el">
            <div class="header d__header">
                Деревья
            </div>
        </div>

        <div class="el dyn__el">
            <div class="header dyn__header">
                Динамическое<br> программирование
            </div>
        </div>

        <div class="el a__el">
            <div class="header a__header">
                a
            </div>
        </div>

    </div>
    <div class="second">
        <div style="height: 70px;"></div>

        <div class="el b__el">
            <div class="header b__header">
                Бинарный<br class="b__tmp"> поиск
            </div>
        </div>

        <div class="el t__el">
            <div class="header t_header">
                Теория чисел
            </div>
        </div>

        <div class="el c__el">
            <div class="header c_header">
                Строки
            </div>
        </div>

        
    </div>
  
</div>


{% endblock %}