.a__header{
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 80px;
}
.a__el:hover{
/* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
background: rgba(140, 1, 197, 0.8);
background: -webkit-linear-gradient(bottom left, rgba(140, 1, 197, 0.8), rgba(231, 193, 255, 1.0));
background: -moz-linear-gradient(bottom left, rgba(140, 1, 197, 0.8), rgba(231, 193, 255, 1.0));
background: linear-gradient(to top right, rgba(140, 1, 197, 0.8), rgba(231, 193, 255, 1.0));
}
.a__el:hover .a__header{
    top: 25px;
    left: 10px;
    right: 250px;
}