.a__header{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
}
.a__el:hover{
    /* Created with https://www.css-gradient.com */
    /* Created with https://www.css-gradient.com */
    background: rgba(140, 1, 197, 0.8);
    background: -webkit-linear-gradient(bottom left, rgba(140, 1, 197, 0.8), rgba(231, 193, 255, 1.0));
    background: -moz-linear-gradient(bottom left, rgba(140, 1, 197, 0.8), rgba(231, 193, 255, 1.0));
    background: linear-gradient(to top right, rgba(140, 1, 197, 0.8), rgba(231, 193, 255, 1.0));
}
.a__el:hover .a__header{
    top: 25px;
    left: 10px;
    right: 250px;
}










.b__header{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
}
.b__el:hover{
    /* Created with https://www.css-gradient.com */
    /* Created with https://www.css-gradient.com */
    background: rgba(255, 130, 9, 0.8);
    background: -webkit-linear-gradient(bottom left, rgba(255, 130, 9, 0.8), rgba(255, 222, 184, 1.0));
    background: -moz-linear-gradient(bottom left, rgba(255, 130, 9, 0.8), rgba(255, 222, 184, 1.0));
    background: linear-gradient(to top right, rgba(255, 130, 9, 0.8), rgba(255, 222, 184, 1.0));
}
.b__el:hover .b__header{
    top: 25px;
    left: 10px;
    right: 250px;
}
.b__header{
    top: 65px;
}
.b__el:hover .b__tmp{display: none;}


















.c__header{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
}
.c__el:hover{
    /* Created with https://www.css-gradient.com */
    /* Created with https://www.css-gradient.com */
    /* Created with https://www.css-gradient.com */
    background: rgba(21, 13, 185, 0.8);
    background: -webkit-linear-gradient(bottom left, rgba(21, 13, 185, 0.8), rgba(179, 186, 255, 1.0));
    background: -moz-linear-gradient(bottom left, rgba(21, 13, 185, 0.8), rgba(179, 186, 255, 1.0));
    background: linear-gradient(to top right, rgba(21, 13, 185, 0.8), rgba(179, 186, 255, 1.0));
}
.c__el:hover .c__header{
    top: 25px;
    left: 10px;
    right: 250px;
}




.transparent__div{
    height: 70px;
}













/*/////////////////////////////*/
.g__header{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
}
.g__el{
    position: relative;
}
.g__el:hover{
    /* Created with https://www.css-gradient.com */
    background: rgba(255, 24, 24, 0.8);
    background: -webkit-linear-gradient(bottom left, rgba(255, 24, 24, 0.8), rgba(255, 191, 191, 1.0));
    background: -moz-linear-gradient(bottom left, rgba(255, 24, 24, 0.8), rgba(255, 191, 191, 1.0));
    background: linear-gradient(to top right, rgba(255, 24, 24, 0.8), rgba(255, 191, 191, 1.0));

}
.g__el:hover .g__header{
    top: 28px;
    left: 13px;
    right: 250px;
}

.line{
    position: absolute;
    padding: 0px;
    border-radius: 10px;
    transform: rotate(45deg);
}
.line1{
    width: 20px;
    border-top: black solid 5px;
    bottom: 13px;
    left: 7px;
}
.line2{
    width: 40px;
    border-top: rgb(203, 8, 8) solid 5px;
    bottom: 21px;
    left: 6px;
}
.line3{
    width: 56px;
    border-top: black solid 5px;
    bottom: 29px;
    left: 8px;
}



.l1{
    width: 20px;
    border-top: black solid 5px;
    top: 13px;
    right: 7px;
}
.l2{
    width: 40px;
    border-top: rgb(203, 8, 8) solid 5px;
    top: 21px;
    right: 6px;
}
.l3{
    width: 56px;
    border-top: black solid 5px;
    top: 29px;
    right: 8px;
}
.g__text{
    text-align: left;
    position: absolute;
    top: 60px;
    left: 30px;
    transition: all 0.3;
}

.g__el img{
    width: 35px;
    height: 35px;

}
.g__for__logos{
    position: absolute;
    bottom: 10px;
    right: 20px;
    gap: 20px;

    display: flex;
}













.t__header{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
}
.t__el:hover{
    /* Created with https://www.css-gradient.com */
    background: rgba(6, 172, 1, 0.8);
    background: -webkit-linear-gradient(bottom left, rgba(6, 172, 1, 0.8), rgba(196, 255, 184, 1.0));
    background: -moz-linear-gradient(bottom left, rgba(6, 172, 1, 0.8), rgba(196, 255, 184, 1.0));
    background: linear-gradient(to top right, rgba(6, 172, 1, 0.8), rgba(196, 255, 184, 1.0));
}
.t__el:hover .t__header{
    top: 25px;
    left: 10px;
    right: 250px;
}













