<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet"  href="{% static 'css/style.css'%}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    {% block navbar %}
    <div class="top__menu__wrapper">
        <div class="top__menu">
            <a href="/" style="display: flex; align-items: center;"><img src="{% static 'pics/logo.png'%}" class="logo"></a>

            <div class="nav__bar">
                <a href="#">
                        <div class="center__menu__elem study">
                        <div class="moving__part"></div>
                        <div class="red">О</div><div class="orange">б</div><div class="yellow">у</div><div class="green">ч</div><div class="green">е</div><div class="lblue">н</div><div class="blue">и</div><div class="purple">е</div>
                    </div>
                </a>

                <a href="#">
                    <div class="center__menu__elem news">
                        <div class="moving__part"></div>
                        <div class="red">Н</div><div class="orange">о</div><div class="yellow">в</div><div class="green">о</div><div class="lblue">с</div><div class="blue">т</div><div class="purple">и</div>
                    </div>
                </a>

                <div class="center__menu__elem schedule">
                    Расписание
                </div>

                <div class="center__menu__elem groups">
                    <a href="#">Группы</a>
                </div>
            </div>

            <div class="right__top__menu">
                {% if user.is_authenticated %}
                    <a href="#">{{ user.username }}</a>  | 
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>  | 
                    <a href="{% url 'register' %}">Register</a>
                {% endif %}
                
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}

    {% endblock %}
</body>